.loading-box {
	width: 320px;
	margin: 0 auto;
	text-align: center;
	.fa {
		font-size: 2em;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin-top: 0.5em;
	}
	li {
		color: gray;
		transition: all 0.2s;
		transform: scale3d(0.875,0.875,1);
		&.active {
			color: white;
			transform: scale3d(1,1,1);
		}
	}
}