.auth {
    display: none;
}
[data-auth=true] {
    .auth {
        display: block;
    }
    .no-auth {
        display: none;
    }
}
.public-toggle {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    + label {
        font-size: 1.5em;
    }
    + label:before {
        content: '\f204';
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        color: #2ECC40;
    }
    &:checked + label:before {
        content: '\f205';
    }
}